.header{
    display: flex;
    gap: 3rem;
    background-color: white;
    padding: 1.5rem 2rem;
    align-items: center;
    // margin-left: 1rem;
    @media(max-width:768px){
        display: none;

    }
    img{
        width: 100px;
        @media(max-width:768px){
            display: none;
    }

}}