.nav-header{
    display: flex;
    gap: .8rem;
    background-color: $primary-color;
    width: 100%;
    padding: 1rem 3rem;
    color: aliceblue;
    // justify-content: space-between;
    align-items: center;
    @media(max-width:768px){
        background-color:rgb(194, 48, 48);
        width: 100%;
        padding-left: 1rem;
        display: block;
        padding:  0rem;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        p{
            display: none;
           
        }
            }
    .log{
        width: 150px;
        .log1{
            display: none;
            @media(max-width:768px){
                display: block;
            }
        }
        @media(max-width:768px){
            padding-bottom: 5rem;}
        img{
            width: 150px;
            @media(max-width:768px){
                display: none;}
        }
    }
    .nav-items{
        width: 100%;

        display: flex;
        justify-content: space-between;
        gap: 3rem;
        font-size: .8rem;
        @media(max-width:768px){
            display: flex;
            flex-direction: column;
            gap: .5rem;
            // height: auto;
           
        }
        .input{
            display: flex;
            gap: 1rem;
            width: 100%;
            background-color: white;
            // align-items: center;
            height: 2.4rem;
            border-radius: .5rem;
            @media(max-width:768px){
                margin-bottom: 2rem;
                // height: auto;
                right: 3rem;
                // display: none;
                width: 70%;
            }
            i{
                background-color: rgb(251,161,0);
                padding: .1rem 1rem;
                height: 100%;
                display: flex;
                align-items: center;
                color: azure;
                width: 10%;
                // border-top-right-radius: 1rem;
                @media(max-width:768px){
                    width: 7%;}
            }
            input{
                width: 30rem;
                padding: .2rem 0.5rem;
                // display: flex;
                border: none;
            }   
        }
        .cart-part{
            display: flex;
            gap: 1rem;
            background-color: rgb(51,178,123);
            color: aliceblue;
            padding: .7rem 2rem;
            height: 3rem;
            width: 20%;
            align-items: center;
            @media(max-width:768px){
                display: none;
            }
            .cart{
                display: flex;
                gap: .5rem;
            .end{
                background-color: aliceblue;
            }
            }
        }
      
        
        .help{
            display: flex;
            @media(max-width:768px){
                display: none;
            } 
        }
    }
   
}